<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925697131502-50a3ik3ps1um71jtsg55shkst4tjsi6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925697131502-50a3ik3ps1um71jtsg55shkst4tjsi6p</string>
	<key>API_KEY</key>
	<string>AIzaSyCGV9J4qe8-se117nh0kcV84Y4ppTS-b68</string>
	<key>GCM_SENDER_ID</key>
	<string>925697131502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PS.Canvas-Drawing</string>
	<key>PROJECT_ID</key>
	<string>canvas-painter-a4838</string>
	<key>STORAGE_BUCKET</key>
	<string>canvas-painter-a4838.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925697131502:ios:cbdded08060b3ef4e5c4ff</string>
	<key>DATABASE_URL</key>
	<string>https://canvas-painter-a4838.firebaseio.com</string>
</dict>
</plist>